.count {
  margin-left: auto;

  &--item {
    margin-left: 24px;
  }
}

.cta {
  right: 40px;
  bottom: 40px;
  position: absolute;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.card {
  width: 240px;
  margin-left: 24px;
}
