<mat-toolbar>
  <button mat-icon-button
          routerLink="/thermostat/list"
          class="back"><mat-icon>keyboard_arrow_left</mat-icon></button>

  <span>Readings</span>

  <div class="count">
    <span class="count--item">Thermostat ID: {{thermostatId}}</span>

    <mat-icon matTooltip="Low battery!"
              class="count--item low-battery"
              *ngIf="isLowBattery">warning</mat-icon>
  </div>
</mat-toolbar>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="readings" class="readings">

    <ng-container matColumnDef="humidity">
      <th mat-header-cell *matHeaderCellDef> Humidity (%)</th>
      <td mat-cell *matCellDef="let element"> {{element.humidity}} </td>
    </ng-container>

    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef>Temperature (°C)</th>
      <td mat-cell *matCellDef="let element"> {{element.temperature}} </td>
    </ng-container>

    <ng-container matColumnDef="battery_charge">
      <th mat-header-cell *matHeaderCellDef> Weight</th>
      <td mat-cell *matCellDef="let element"> {{element.battery_charge}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location</th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        class="reading"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[1, 5, 10, 20]"
                 [pageSize]="paginator.pageSize"
                 [pageIndex]="paginator.pageIndex"
                 (page)="paginate($event)"
                 showFirstLastButtons></mat-paginator>
</div>
