<mat-drawer-container class="container">
  <mat-drawer mode="side" opened
              class="navbar">
    <mat-list class="list">
      <mat-list-item *ngIf="currentUser === 'management'"
                     routerLink="management"
                     class="item">
        Thermostat Manager
      </mat-list-item>

      <mat-list-item routerLink="list"
                     class="item">
        Thermostat List
      </mat-list-item>

      <mat-list-item (click)="logout()"
                     class="item">
        Logout
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
